<form class="form-group" method="post">
    <div>
        <label>Product Name</label>
        <input type="text" class="form-control" name="ProductName" />
    </div>
    <div>
        <label>BarCode</label>
        <input type="text" class="form-control" name="barCode" />
    </div>
    <div>
        <label>Price</label>
        <input type="text" class="form-control" name="Price" />
    </div>
    <div>
        <label>Image</label>
        <input type="text" class="form-control" name="Image" />
    </div>
    <div>
        <label>Explanation</label>
        <input type="text" class="form-control" name="explanation" />
    </div>
    <div>
        <label>Piece</label>
        <input type="text" class="form-control" name="Piece" />
    </div>
    <div>
        <button class="btn btn-info">Add Product</button>
    </div>
</form>

