

<form class="form-group" method="post">
    <div>
        <label>Name</label>
        <input type="text" class="form-control" name="UserName" />
    </div>
    <div>
        <label>Password</label>
        <input type="text" class="form-control" name="Password" />
    </div>
    <div>
        <button class="btn btn-info">Login</button>
    </div>
</form>
